<div>
  <%= form_for @list do |f| %>
  <div class='control-group'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
    <br/>
  <div class='control-group'>
<<<<<<< HEAD
    <%= f.submit 'Create List', class: 'btn btn-success' %>
=======
    <%= f.submit 'Create List', class: 'btn btn-primary' %>
>>>>>>> 62f0cf85eb1c64b8c5d23fabfd6dc6ecdb35b0c6
  </div>
  <% end %>
</div>