<!DOCTYPE html>
<html>
<head>
  <title>Tada</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <%= render 'layouts/nav' %>
          </div>
        </div>
      </div>
    </header>
<%= yield %>

</body>
</html>
